<div class="modal fade" id="new-bookModal" tabindex="-1" aria-labelledby="new-bookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h1 class="modal-title fs-5" id="new-bookModalLabel"><i class="bi bi-plus-lg"></i> Novo livro
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('app_book_new') }}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="new-title" class="col-form-label">Título:</label>
                        <input name="title" type="text" maxlength="40" class="form-control" id="new-title" 
                            placeholder="Ex: Harry Potter" required>
                    </div>
                    <div class="mb-3">
                        <label for="new-publisher" class="col-form-label">Editora:</label>
                        <input name="publisher" type="text" maxlength="40" class="form-control" id="new-publisher"
                            placeholder="Ex: Rocco" required>
                    </div>
                    <div class="mb-3">
                        <label for="new-edition" class="col-form-label">Edição:</label>
                        <input name="edition" type="number" min="1" max="99999" class="form-control" id="new-edition"
                            placeholder="Ex: 5" required>
                    </div>
                    <div class="mb-3">
                        <label for="new-yearOfPublication" class="col-form-label">Ano de publicação:</label>
                        <input name="yearOfPublication" type="number" min="1000" max="9999" class="form-control"
                            id="new-yearOfPublication" placeholder="Ex: 1999" required>
                    </div>
                    <div class="mb-3">
                        <label for="new-price" class="col-form-label">Preço:</label>
                        <input name="price" type="number" step="0.01" min="0.01" max="99999.99" class="form-control" id="new-price"
                            placeholder="Ex: 25.99" required>
                    </div>
                    <div class="mb-3">
                        <label for="new-authors" class="col-form-label">Autor(es):</label>
                        <select name="authors[]" id="new-authors" class="form-select select2" multiple required
                            data-placeholder="Selecione um ou mais autor(es)">
                            {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="new-subjects" class="col-form-label">Assunto(s):</label>
                        <select name="subjects[]" id="new-subjects" class="form-select select2" multiple required
                            data-placeholder="Selecione um ou mais assunto(s)">
                            {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy-fill"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#new-yearOfPublication').on('input', function () {
            let val = $(this).val();
            if (val.length > 4) {
                $(this).val(val.slice(0, 4));
            }
        });

        $('#new-edition').on('input', function () {
            let val = $(this).val();
            if (val.length > 5) {
                $(this).val(val.slice(0, 5));
            }
        });
    });
</script>