{# templates/book/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <h1 class="mb-2">Livros</h1>

    {% include 'book/_new_book_modal.html.twig' %}
    {% include 'book/_edit_book_modal.html.twig' %}

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-8">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#new-bookModal">
                        <i class="bi bi-plus-lg"></i> Adicionar
                    </button>
                </div>
                <div class="col-4">
                    <a href="{{ path('app_report_generate') }}" class="btn btn-secondary float-end" target="_blank">
                        <i class="bi bi-file-earmark-pdf"></i> Gerar relatório PDF
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="books-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Editora</th>
                        <th class="text-center">Edição</th>
                        <th class="text-center">Ano de publicação</th>
                        <th class="text-center">Preço</th>
                        <th class="text-center">Autor(es)</th>
                        <th class="text-center">Assunto(s)</th>
                        <th class="text-center">-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.edition }}</td>
                        <td>{{ book.yearOfPublication }}</td>
                        <td>R$ {{ book.price|number_format(2, ',', '.') }}</td>
                        <td>
                            {% for author in book.authors %}
                            {{ author.name }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for subject in book.subjects %}
                            {{ subject.description }}<br>
                            {% endfor %}
                        </td>

                        <td>
                            <button type="button" class="btn btn-warning edit-book-btn me-2 mb-1 w-100"
                                data-bs-toggle="modal" data-bs-target="#edit-bookModal" data-id="{{ book.id }}"
                                data-title="{{ book.title }}" data-publisher="{{ book.publisher }}"
                                data-edition="{{ book.edition }}" data-year="{{ book.yearOfPublication }}"
                                data-price="{{ book.price }}" data-authors="{{ book.authors|map(a=>a.id)|join(',') }}"
                                data-subjects="{{ book.subjects|map(s=>s.id)|join(',') }}">
                                <i class="bi bi-pencil-fill"></i> Atualizar
                            </button>
                            <form action="{{ path('app_book_delete', { id: book.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger w-100"><i class="bi bi-trash"></i>
                                    Deletar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(() => {
        $('#books-table').DataTable({
            autoWidth: false,
            order: [[0, 'desc']],
            columnDefs: [
                {
                    targets: [-1],
                    width: '180px',
                    className: 'text-center'
                }
            ],
            language: {
                url: "{{ asset('build/datatables/plugins/translate/pt-BR.json') }}"
            },
        });

        $('input[type="number"]').on('keydown', function (e) {
            // Impede '-' e 'e' (notação científica)
            if (e.key === '-' || e.key === 'e' || e.key === '+') {
                e.preventDefault();
            }
        });

        // Impede colar valores negativos
        $('input[type="number"]').on('input', function () {
            if (parseFloat($(this).val()) < 0) {
                $(this).val('');
            }
        });

        $('.select2').select2({
            theme: 'bootstrap-5'
        });
    });
</script>
{% endblock %}